body {
  background-color: #f4f5f7;
}
.shop-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 45px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cart-container {
  background: #e5e5e5;
}

@media screen and (max-width: 768px) {
  .shop-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
