.added {
  box-shadow: 0px 12px 30px rgb(0 0 0 / 21%);
}

.added-cart {
  display: flex;
}
.added-cart img {
  height: 109px;
  /* background: #fff; */
  width: 106px;
  padding: 26px;
  /* border-radius: 71%; */
}
.added-cart p {
  align-self: center;
  font-size: 20px;
}

.chose-one {
  align-items: center;
  background-color: darkgray;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 26px;
}
.close {
  background-color: darkgray;
  /* padding: 15px 15px; */
  border: none;
  border-radius: 5px;
  margin-left: 26px;
  padding: 14px 38px;
}

@media screen and (max-width: 768px) {
  .added-cart p {
    font-size: 12px;
  }
}
