.product img {
  border-radius: 8px;
  padding: 7px;
}
.product-des {
  margin: 0 14px;
}
.product-des p {
  margin-bottom: 0;
  margin-top: 5px;
}
.product-btn {
  align-items: center;
  background-color: darkgray;
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  margin-left: 26px;
  margin: 20px 15px;
}
span.icon {
  font-size: 22px;
  margin-left: 16px;
}
