.body {
  padding: 0;
  margin: 0;
}
.header {
  background-color: #1c2b35;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 140px;
}
.header h3 a {
  color: #ffff;
  font-size: 30px;
}
.header a {
  color: #ffff;
  font-size: 17px;
  margin-left: 36px;
  text-decoration: none;
}
