.body {
  padding: 0;
  margin: 0;
}
.header {
  background-color: #1c2b35;
  height: 80px;
  display: flex;
  align-items: center;

  padding: 0px 140px;
}
.header h3 a {
  color: #ffff;
  font-size: 30px;
}
.header a {
  color: #ffff;
  font-size: 17px;
  margin-left: 36px;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .header {
    width: 100%;
  }
  .header a h3 {
    font-size: 20px;
  }
  .header a {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
  .header a h3 {
    font-size: 20px;
  }
  .header a {
    font-size: 10px;
  }
}
